<document>
  <alertTemplate>
    <title>{{ title }}</title>
    <title>{{ subtitle }}</title>
    <button id="add-btn">
      <text>Add to queue</text>
    </button>
    <button id="play-btn">
      <text>Play</text>
    </button>
  </alertTemplate>
</document>
