<document>
  <catalogTemplate>
    <banner>
      <title>Genres</title>
    </banner>
    <list>
      <section>
        {{#each items}}
        <listItemLockup>
          <title>{{ name }}</title>
          <relatedContent>
            <grid>
            </grid>
          </relatedContent>
        </listItemLockup>
        {{/each}}
      </section>
    </list>
  </catalogTemplate>
</document>
