<document>
  <alertTemplate>
      <title>Outputs</title>
      {{#each outputs}}
      <button id="{{ id }}">
        <text>{{ name }}</text>
      </button>
      {{/each}}
  </alertTemplate>
</document>
